.input {
  width: 100%;
  height: 48px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.63), rgba(255, 255, 255, 0.63)), linear-gradient(112.95deg, #F95286 -13.39%, #F8904A 118.44%);
  border-radius: 15px;
  border: 2px solid #FFFFFF;
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #150B4D;
  padding: 0 18px;
  outline: 0;
  transition: all .2s;

  &::placeholder {
    width: fit-content;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #150B4D;
  }

  &:focus {
    background: #FFFFFF;
    border: 2px solid #F95286;
  }
}
