.proxy_card {
    width: 900px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 40px;

    @media screen and (max-width: 1440px) {
        width: 860px;
    }
}

.top {
    position: relative;
    display: grid;
    width: 100%;
    height: 372px;
    background: url('/assets/ProxyBg.png') center/contain no-repeat;
    border-radius: 15px;
    padding: 40px 90px 56px;

    @media screen and (max-width: 1440px) {
        padding: 35px 80px 50px;
        height: 350px;
    }
}

.role_label {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 123%;
    background: conic-gradient(from 180deg at 50% 58.36%, #FD4B80 0deg, #FF8755 360deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.role {
    font-family: 'Panchang', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 108%;
    color: #FFFFFF;
    margin: 0;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 100px 10px;

    @media screen and (max-width: 1440px) {
        padding: 55px 80px 10px;
    }
}
